.container {
    height: 100vh;
    max-width: 992px;
    margin: 0 auto;
    padding: 0.5rem 2rem;
  
    display: flex;
    flex-direction: column;
}



.container  section {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6.25rem;
    align-content: center;
}

  

.page {
    width: 100vw;
    height: 100vh;

    position: relative;
    display: flex;
}

.page aside {
    width: 4rem;
    background: #ffff;
    padding: 3rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page aside header > img{
    transform: translatex(-50%);
}

.page aside main{
    transform: translateY(-150%);
}


.page aside main a > svg{
    width: 2rem;
    height: 2rem;
    transform: translateX(-50%);
    margin-bottom: 1.25rem;
}
.page aside main a > svg {
    border-left: #2E384D 4px solid;
    border-radius: 0 100% 100% 0;
}
