.container {
    height: 100vh;
    max-width: 992px;
    margin: 0 auto;
    padding: 0.5rem 2rem;
  
    display: flex;
    flex-direction: column;
}

.container  section {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
}

.container  section > p{
    margin-top: 0.75rem;
   text-align: center;
}

.dark .container  section{
    color: var(--white)
}

.dark {
    display: flex;
    background: #121212;
}
.page {
    display: flex;
}
